@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');


.NaveBa {
  height: 60px;
  background-color: #ffffff; /* Warmer color */
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display', serif; /* Fuente más elegante para los títulos */
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.NaveC {
  width: 100%;
  max-width: 1024px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.NaveIt {
  display: flex;
  align-items: center;
}

h1{
 
  color: #503922;
  font-size: 2rem;
  letter-spacing: 1px;
  font-size: 55px;

}

h3 {
  color: #503922;
  font-size: 2rem;
  transition: color 0.2s;
}



.NaveBo {
  background-color: #ffc107; /* Orange color */
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s;
  cursor: pointer;
  border: 1px solid #a46b40d7;
    padding: 10px;
    background-color: #faaa16; /* Un color más cálido para los botones */
    color: #ffffff;
}

.NaveBo:hover {
  background-color: #ffb300; /* Lighter orange color on hover */
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .NaveC {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-bottom: 10px;
  }

  .NaveIt {
    flex-direction: column;
    align-items: center;
  }

  h3 {
    margin: 5px;
  }

  button{
    border: 1px solid #a46b40d7;
    padding: 10px;
    background-color: #faaa16; /* Un color más cálido para los botones */
    color: #ffffff;
  }
}